.toggle {
  display: flex;
  justify-content: space-between;
  border: 2px solid var(--orange);
  border-radius: 5rem;
  padding: 1px;
  position: relative;
}
.toggle > * {
  width: 1rem;
  height: 1rem;
  color: var(--orange);
  margin: 1px;
}
.t-button {
  background-color: var(--orange) !important;
  border-radius: 50%;
  position: absolute;

  /* transition: all 10s ease-in-out; */
  /* margin: 3px; */
}
